<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/views/home.html">Inicio</a></li>
                <li><a href="/backend/views/lista_productos.html">Productos</a></li>
                <li><a href="/backend/views/lista_categorias.html">Categorias</a></li>
                <li><a href="/backend/views/categorias.html">Alta Categorias</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Carga de productos</h1>
        <section>
            <form id="form-carga-productos" action="" method="post" autocomplete="on">
                <div>
                    <label for="nombre-producto">Nombre</label>
                    <input type="search" name="nombre-producto" id="nombre-producto">
                </div>
                <div>
                    <label for="descripcion-producto">Descripción</label>
                    <textarea name="descripcion-producto" id="descripcion-producto" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <label for="precio-producto">Precio</label>
                    <input type="number" name="precio-producto" id="precio-producto">
                </div>
                <div>
                    <label for="categoria-producto">Categoría</label>
                    <input type="text" name="categoria-producto" id="categoria-producto" placeholder="Ejemplo: Teclado">
                </div>
                <div>
                    <label for="imagen-producto" >Imagen</label>
                    <input type="file" name="imagen-producto" accept="image/*" id="imagen-producto">
                </div>
                <div id="form-producto-botones">
                    <input id="productos-reset"  class="button" type="reset">
                    <button id="productos-cancelar" class="button" type="button">Cancelar</button>
                    <input type="submit" id="productos-submit" class="button">
                </div>
            </form>
        </section>
    </main>
</body>
</html>