<?php declare(strict_types=1) ?>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/estilos/estilos.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="home.html">Inicio</a></li>
                <li><a href="../backend/views/lista_productos.html">Productos</a></li>
                <li><a href="../backend/views/productos.html">Alta productos</a></li>
                <li><a href="../backend/views/lista_categorias.html">Categorias</a></li>
                <li><a href="../backend/views/categorias.html">Alta Categorias</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Bienvenidos</h1>
        <?php foreach ($productos as $p) { ?>
        <div>
            <?php 
            echo '<b>' . $p['nombre_producto'] . '</b><br>'; 
            echo $p['descripcion_producto'] . '<br>'; 
            echo '<b>Precio: </b>$' . $p['precio_producto'] . '<br>'; 
        </div>
        <?php } ?>
    </main>

    <footer>
        <span>Manuel Achaval Copyright © 2023</span>
    </footer>
</body>

</html>